<div class="form-group">
    <label for="imgUrl" class="form-label">Image Url</label>
    <input type="text" class="form-control" id="imgUrl" name="imgUrl" required>
</div>
<div class="form-group">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title" required>
</div>
<div class="form-group">
    <label for="description" class="form-label">Description</label>
    <textarea type="text" class="form-control" id="description" name="description" required></textarea>
</div>
<div class="form-group">
    <label for="fullArticle" class="form-label">fullArticle</label>
    <textarea type="text" class="form-control" id="fullArticle" name="fullArticle" required></textarea>
</div>
<a href="/" class="btn btn-danger my-3">Cancel</a>
<button class="btn btn-success my-3" type="submit">Publish</button>